{% extends 'base.html' %}

{% block content %}

<section class="section-conten padding-y bg">
	{% include 'includes/alerts.html'%}

<div class="container">
	<div class="row">
	<aside class="col-md-3">
{% include 'includes/sidebar.html' %}
	</aside>
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Change Password </strong>

		</header>
		<div class="card-body">
			<div class="text-right">

			</div>
			<div class="row">
				<div class="col-md-12">
					<form action="{% url 'change_password' %}" method="POST">
						{% csrf_token %}
				<div class="form-row">

					<div class="col-md-4 form-group">
						<label>Old Password</label>
						{{form.password}}


						</div>
						<div class="col-md-4 form-group">
							<label>New Password</label>
							{{form.new_password}}

						</div>
						<div class="col-md-4 form-group">
							<label>Confirm Password</label>
							{{form.confirm_password}}

						</div>

						</div>
						<button type="submit" class="btn btn-primary">Submit</button>

					</form>

				</div>

{{form.non_field_errors}}


			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
	 <!-- table-responsive .end// -->
		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->

</div>


</section>


{% endblock %}
